var g_isSliding = false;
var g_wasPlaying = false;

var g_lastDisplayedTimeMs = -1000;
var g_layoutIgnoreTimeChange = false;

//var g_layoutTimeSlider = null;
//var g_layoutVolumeSlider = null;
var g_layoutCurrentSlide = -1;

// States of 'standard navigation':
// 0: enabled; 1: disabled; 2: hidden
var g_layoutNavigationControlBar        = %NavigationControlBar%;
var g_layoutNavigationStandardButtons   = %NavigationStandardButtons%;
var g_layoutNavigationTimeLine          = %NavigationTimeLine%;
var g_layoutNavigationTimeDisplay       = %NavigationTimeDisplay%;
// 0: visible; 1: hidden
var g_layoutLecturnityWebPlayerLogo     = %LecturnityWebPlayerLogo%;

var g_slidesOffset = 0;

//var g_layoutStandaloneLayout = %StandaloneLayout%;
//var g_layoutLogoCode = '%LogoImage%';

var isIE = false;

if (document.all)
  isIE = true;

function layout_init()
{
}

function s(id)
{
  if (isNS4)
    return eval('document.' + id);
  else
    return document.getElementById(id).style;
}

function o(id)
{
  if (isNS4)
    return s(id);
  return document.getElementById(id);
}

function d_s(documentName, id)
{
  if (isNS4)
    return eval(documentName + '.document.' + id);
  else
    return eval(documentName + '.document.getElementById("' + id + '").style');
}

function d_o(documentName, id)
{
  if (isNS4)
    return d_s(documentName, id);
  return eval(documentName + '.document.getElementById("' + id + '")');
}

function layout_getSlideForTime(msTime)
{
  return 0;
}

function layout_checkDelayedPlaystate()
{
  if (g_wasPlaying && !control_isPlayerPlaying(control_getMasterPlayer()))
    control_play();
}

function layout_onPlayPause()
{
  control_playPause();
  g_wasPlaying = !g_wasPlaying;
}

function layout_onPlay()
{
  control_play();
  g_wasPlaying = true;
}

function layout_onPause()
{
  control_pause();
  g_wasPlaying = false;
}

function layout_onMute(playState)
{
  control_mute();

  if (playState == 'play')
    layout_onPlay();
  else if (playState == 'pause')
    layout_onPause();
  //setTimeout("layout_checkDelayedPlaystate()", 250);
}

function layout_onMuteOn(playState)
{
  control_muteOn();

  if (playState == 'play')
    layout_onPlay();
  else if (playState == 'pause')
    layout_onPause();
  //setTimeout("layout_checkDelayedPlaystate()", 250);
}

function layout_onMuteOff(playState)
{
  control_muteOff();

  if (playState == 'play')
    layout_onPlay();
  else if (playState == 'pause')
    layout_onPause();
  //setTimeout("layout_checkDelayedPlaystate()", 250);
}

function layout_onHome(playState)
{
  control_seekTime(0);

  if (playState == 'play')
    layout_onPlay();
  else if (playState == 'pause')
    layout_onPause();
  setTimeout("layout_checkDelayedPlaystate()", 250);
}

function layout_onBack(playState)
{
  var currentSlide = layout_getCurrentSlide();
  if (currentSlide > 0)
    control_seekTime(g_thumbEntries[currentSlide - 1].timeStamp);
  else
    layout_onHome();

  if (playState == 'play')
    layout_onPlay();
  else if (playState == 'pause')
    layout_onPause();
  setTimeout("layout_checkDelayedPlaystate()", 250);
}

function layout_onEnd(playState)
{
  control_seekTime(g_mediaDurations[0]);

  if (playState == 'play')
    layout_onPlay();
  else if (playState == 'pause')
    layout_onPause();
  setTimeout("layout_checkDelayedPlaystate()", 250);
}

function layout_onForward(playState)
{
  var currentSlide = layout_getCurrentSlide();
  if (currentSlide < g_thumbCount - 1)
    control_seekTime(g_thumbEntries[currentSlide + 1].timeStamp);
  else
    layout_onEnd();

  if (playState == 'play')
    layout_onPlay();
  else if (playState == 'pause')
    layout_onPause();
  setTimeout("layout_checkDelayedPlaystate()", 250);
}

function layout_onGotoSlide(slideNumber, playState)
{
  control_seekTime(g_thumbEntries[slideNumber].timeStamp);

  if (playState == 'play')
    layout_onPlay();
  else if (playState == 'pause')
    layout_onPause();
  setTimeout("layout_checkDelayedPlaystate()", 250);
}

function layout_onGotoTargetmark(idTarget, playState)
{
  control_seekTime(g_targetmarkTimes[idTarget]);

  if (playState == 'play')
    layout_onPlay();
  else if (playState == 'pause')
    layout_onPause();
  setTimeout("layout_checkDelayedPlaystate()", 250);
}

function layout_onGotoTimestamp(timeMs, playState)
{
  control_seekTime(timeMs);

  if (playState == 'play')
    layout_onPlay();
  else if (playState == 'pause')
    layout_onPause();
  setTimeout("layout_checkDelayedPlaystate()", 250);
}

function layout_onOpenUrl(url, playState)
{
  window.open(url, "_blank");

  if (playState == 'play')
    layout_onPlay();
  else if (playState == 'pause')
    layout_onPause();
  //setTimeout("layout_checkDelayedPlaystate()", 250);
}

function layout_onOpenFile(filename, playState)
{
  window.open(filename, "_blank");

  if (playState == 'play')
    layout_onPlay();
  else if (playState == 'pause')
    layout_onPause();
  //setTimeout("layout_checkDelayedPlaystate()", 250);
}

function layout_onResetQuestion(pageNumber)
{
  testing_resetQuestion(pageNumber);
}

function layout_onSubmitAnswer(pageNumber)
{
  if (control_isPlaying())
    control_pause();
  testing_submitAnswer(pageNumber);
}

function layout_onResetQuestionnaire(pageNumber)
{
  testing_resetQuestionnaire(pageNumber);
}

function layout_onSubmitTesting(pageNumber)
{
  if (control_isPlaying())
    control_pause();
  testing_submitTesting(pageNumber);
}

function layout_onClose()
{
  top.window.close();
}

function layout_onDoNothing()
{
  return;
}

function layout_getSlide(timeMs)
{
  return 0;
}

function layout_getCurrentSlide()
{
  var timeMs = control_getTimeMs();
  return layout_getSlide(timeMs);
}

function layout_onResize()
{
  layout_checkStandardNavigation();
  
  if (g_fullScreen != 0)
  {
    var playerLeft = (screen.availWidth - g_videoWidth) / 2;
    if (playerLeft < 9)
      playerLeft = 9;
    var playerTop = (screen.availHeight - 113 - g_videoHeight) / 2;
    if (playerTop < 9)
      playerTop = 9;
    s('masterPlayerDiv').position = 'absolute';
    s('masterPlayerDiv').left = playerLeft;
    s('masterPlayerDiv').top  = playerTop;
  }
  else
  {
    var top = 9;
    var left = 9;
      
    if (g_videoWidth < 740)
      left = (760 - g_videoWidth) / 2;

    s('masterPlayerDiv').position = 'absolute';
    s('masterPlayerDiv').left = left;
    s('masterPlayerDiv').top  = top;
  }

  for (var i=0; i<g_interactionEntries.length; ++i)
  {
    s(''+ g_interactionEntries[i].strId +'Layer').left = g_interactionEntries[i].x + layout_getSlidesLeft();
    s(''+ g_interactionEntries[i].strId +'Layer').top = g_interactionEntries[i].y + layout_getSlidesTop();
  }
}

function layout_checkStandardNavigation()
{
  if (g_layoutNavigationControlBar > 0)
  {
    g_layoutNavigationStandardButtons = g_layoutNavigationControlBar;
    g_layoutNavigationTimeLine        = g_layoutNavigationControlBar;
    g_layoutNavigationTimeDisplay     = g_layoutNavigationControlBar;

    if (g_layoutNavigationControlBar == 2)
    {
      // hide the control bar
      top.document.getElementById("FrameSet").rows = "*, 0";
    }
  }
  
  if (g_layoutNavigationStandardButtons > 0)
  {
    layout_enableControl("play", false);
    layout_enableControl("end", false);
    layout_enableControl("home", false);
    layout_enableControl("back", false);
    layout_enableControl("forward", false);

    if (g_layoutNavigationStandardButtons == 2)
    {
      d_s('parent.control', 'playButtonDiv').visibility ='hidden';
      d_s('parent.control', 'endButtonDiv').visibility ='hidden';
      d_s('parent.control', 'homeButtonDiv').visibility ='hidden';
      d_s('parent.control', 'backButtonDiv').visibility ='hidden';
      d_s('parent.control', 'forwardButtonDiv').visibility ='hidden';
    }
  }
  
  if (g_layoutNavigationTimeLine > 0)
  {
    parent.control.g_layoutTimeSlider.setSliderIcon('images/timeslider_knob_f4.png', 24, 8);
    parent.control.g_layoutTimeSlider.setBackgroundImage('images/trans.gif', 'no-repeat');
    parent.control.g_layoutTimeSlider.setDisabled();

    if (g_layoutNavigationTimeLine == 2)
    {
      if (g_layoutNavigationTimeDisplay == 2)
      {
        // see below
      }
      else
        d_s('parent.control', 'controlleft').backgroundImage = "url(images/controlbar_left_notl.png)";
    }
  }
  
  if (g_layoutNavigationTimeDisplay > 0)
  {
    d_s('parent.control', 'statusAreaDiv').visibility ='hidden';
    d_s('parent.control', 'slidesAreaDiv').visibility ='hidden';

    if (g_layoutNavigationTimeDisplay == 2)
    {
      if (g_layoutNavigationTimeLine == 2)
      {
        d_s('parent.control', 'timeSliderDiv').visibility ='hidden';
        d_s('parent.control', 'controlleft').backgroundImage = "url(images/controlbar_left_notltd.png)";
        parent.control.g_layoutTimeSlider.setSliderIcon('images/trans.gif', 24, 8);
        parent.control.g_layoutTimeSlider.setBackgroundImage('images/trans.gif', 'no-repeat');
      }
      else
        d_s('parent.control', 'controlleft').backgroundImage = "url(images/controlbar_left_notd.png)";
    }
  }
  
  if (g_layoutLecturnityWebPlayerLogo > 0)
  {
    d_s('parent.control', 'controlright').backgroundImage = "url(images/controlbar_bg.png)";
    d_o('parent.control', 'LecturnityWebPlayerLogo').width = 0;
    d_o('parent.control', 'LecturnityWebPlayerLogo').height = 0;
  }
}
