body {
  background-color:#ffffff;
}

div.rightCornerArea {
	position:relative;
	top:0px;
	right:500px;
	width:20px;
	height:132px;
	background-image:url(images/B-Header_right.jpg);
}
div.leftCornerArea {
	position:absolute;
	top:0px;
	left:0px;
	width:170px;
	height:132px;
	background-image:url(images/B-Header_left.jpg);
}

div.masterPlayer {
  position:absolute;
  top:420px;
  left:0px;
  z-index:10;
  width:300px;
  text-align:center;
}

div.containerArea
{
  border-style:solid;
  border-width:1px;
  border-color:#7788A9;
  background-color:#C1CAD9;
  position:absolute;
  left:0px;
  top:135px;
  width:314px;
  height:314px;
  z-index:6;
}

div.logoArea
{ 
  position:absolute;
  top:5px;
  left:69px;
  width:250px;
  height:85px;
  overflow:hidden;
  border-style:none;
}

div.defLogoArea
{ 
  position:absolute;
  top:5px;
  left:69px;
  width:250px;
  height:85px;
  overflow:hidden;
  border-style:none;
  z-index:2;
}

div.titleArea
{ 
  position:absolute;
  top:30px;
  left:230px;
  width:400px;
  height:36px;
  overflow:hidden;
  border-style:none;
  font-family:Arial,Helvetica,sans-serif;
  font-size:24px;
  font-weight:bold;
  text-align:left;
  color:#17346D;
}

div.authorArea
{ 
  position:absolute;
  top:75px;
  left:230px;
  width:400px;
  height:30px;
  overflow:hidden;
  border-style:none;
  font-family:Arial,Helvetica,sans-serif;
  font-size:16px;
  font-weight:bold;
  text-align:left;
  color:#17346D;
}

div.separatorArea
{
	position:absolute;
	width:100%;
	height:3px;
	top:132px;
	left:0px;
	background-color:#C1CAD9;
}

div.playerArea
{
  position:absolute;
  top:415px;
  left:0px;
  width:314px;
  height:35px;
  border-style:solid;
  border-width:1px;
  border-color:#C1CAD9;
  background-color:#C1CAD9;
  z-index:1;
}

div.stillImageArea
{ 
  position:absolute;
  top:135px;
  left:1px;
  width:300px;
  height:100px;
  overflow:hidden;
  border-style:none;
  z-index:3;
}

.TextField
{
  border: 1px solid #000000;
  background-color:#FFFFFF;
}
