// Constants
var FEEDBACK_TYPE_UNDEFINED = %FeedbackTypeUndefined%;
var FEEDBACK_TYPE_Q_CORRECT = %FeedbackTypeQCorrect%;
var FEEDBACK_TYPE_Q_WRONG = %FeedbackTypeQWrong%;
var FEEDBACK_TYPE_Q_REPEAT = %FeedbackTypeQRepeat%;
var FEEDBACK_TYPE_Q_TIME = %FeedbackTypeQTime%;
var FEEDBACK_TYPE_Q_TRIES = %FeedbackTypeQTries%;
var FEEDBACK_TYPE_QQ_PASSED = %FeedbackTypeQqPassed%;
var FEEDBACK_TYPE_QQ_FAILED = %FeedbackTypeQqFailed%;
var FEEDBACK_TYPE_QQ_EVAL = %FeedbackTypeQqEval%;
var TEXT_TYPE_NOTHING = %TextTypeNothing%;
var TEXT_TYPE_CHANGE_TIME = %TextTypeChangeTime%;
var TEXT_TYPE_CHANGE_TRIES = %TextTypeChangeTries%;
var TEXT_TYPE_CHANGE_NUMBER = %TextTypeCangeNumber%;
var TEXT_TYPE_EVAL_Q_CORRECT = %TextTypeEvalQCorrect%;
var TEXT_TYPE_EVAL_Q_POINTS = %TextTypeEvalQPoints%;
var TEXT_TYPE_EVAL_QQ_PASSED = %TextTypeEvalQqPassed%;
var TEXT_TYPE_EVAL_QQ_FAILED = %TextTypeEvalQqFailed%;
var TEXT_TYPE_EVAL_QQ_ACHIEVED = %TextTypeEvalQqAchieved%;
var TEXT_TYPE_EVAL_QQ_ACHIEVED_PERCENT = %TextTypeEvalQqAchievedPercent%;
var TEXT_TYPE_EVAL_QQ_TOTAL = %TextTypeEvalQqTotal%;
var TEXT_TYPE_EVAL_QQ_REQUIRED = %TextTypeEvalQqRequired%;
var TEXT_TYPE_EVAL_QQ_REQUIRED_PERCENT = %TextTypeEvalQqRequiredPercent%;
var TEXT_TYPE_BLANK_SUPPORT = %TextTypeBlankSupport%;
var TEXT_TYPE_RADIO_SUPPORT = %TextTypeRadioSupport%;
var TEXT_TYPE_QUESTION_TITLE = %TextTypeQuestionTitle%;
var TEXT_TYPE_QUESTION_TEXT = %TextTypeQuestionText%;
var TEXT_TYPE_NUMBER_SUPPORT = %TextTypeNumberSupport%;
var TEXT_TYPE_TRIES_SUPPORT = %TextTypeTriesSupport%;
var TEXT_TYPE_TIME_SUPPORT = %TextTypeTimeSupport%;
var TEXT_TYPE_TARGET_SUPPORT = %TextTypeTargetSupport%;

var g_isRandomTest = false;

// Declaration of g_questionnaireEntries
%QuestionnaireEntries%

// Declaration of g_questionEntries
%QuestionEntries%

// Declaration of g_feedbackEntries
%FeedbackEntries%

// Declaration of g_radioDynamicEntries
%RadioDynamicEntries%

// Declaration of g_targetPointEntries
%TargetPointEntries%

// Declaration of g_textFieldEntries
%TextFieldEntries%

// Declaration of g_changeTextEntries
%ChangeTextEntries%

// Declaration of g_questionTextEntries
%QuestionTextEntries%

// Default Feedback colors
var g_colorFeedbackText = '%FeedbackTextColor%';
var g_colorFeedbackBorder = '%FeedbackBorderColor%';
var g_colorFeedbackBackground = '%FeedbackBackgroundColor%';

// Feedback Summary enabled?
var g_bFeedbackSummaryEnabled = %FeedbackSummaryEnabled%;

// Feedback messages
var g_strTestingResult = '%TestingResult%';
var g_strTestingQuestion = '%TestingQuestion%';
var g_strTestingAnswer = '%TestingAnswer%';
var g_strTestingPoints = '%TestingPoints%';
var g_strTestingMaximumPoints = '%TestingMaximumPoints%';
var g_strTestingRequiredPoints = '%TestingRequiredPoints%';
var g_strTestingRequiredPercentage = '%TestingRequiredPercentage%';
var g_strTestingAchievedPoints = '%TestingAchievedPoints%';
var g_strTestingAchievedPercentage = '%TestingAchievedPercentage%';
var g_strTestingCorrect = '%TestingCorrect%';
var g_strTestingWrong = '%TestingWrong%';
