        <tr>
          <td colspan="3">
            <font face="Arial" valign="top" size="-1" color="#0F75BC">
              <b>%TITLE%</b>
            </font>
          </td>
          <td width="30">
            &nbsp;
          </td>
        </tr>
        
        <tr>
          <td colspan="4">
            <font face="Arial" valign="top" size="-1" color="#000000">
              &nbsp;
            </font>
          </td>
        </tr>
        
        <tr>
          <td width="30">
            &nbsp;
          </td>
          <td align="left" valign="top" width="130">
            <font face="Arial" valign="top" size="-1" color="#000000">
              %LANG_AUTHOR%:
            </font>
          </td>
          <td align="left" valign="top">
            <font face="Arial" valign="top" size="-1" color="#000000">
              %AUTHOR%
            </font>
          </td>
          <td width="30">
            &nbsp;
          </td>
        </tr>
        
        <tr>
          <td width="30">
            &nbsp;
          </td>
          <td align="left" valign="top" width="130">
            <font face="Arial" valign="top" size="-1" color="#000000">
              %LANG_PRODUCER%:
            </font>
          </td>
          <td align="left" valign="top">
            <font face="Arial" valign="top" size="-1" color="#000000">
              %PRODUCER%
            </font>
          </td>
          <td width="30">
            &nbsp;
          </td>
        </tr>
        
        <tr>
          <td width="30">
            &nbsp;
          </td>
          <td align="left" valign="top" width="130">
            <font face="Arial" valign="top" size="-1" color="#000000">
              %LANG_DATE%:
            </font>
          </td>
          <td align="left" valign="top">
            <font face="Arial" valign="top" size="-1" color="#000000">
              %DATE%
            </font>
          </td>
          <td width="30">
            &nbsp;
          </td>
        </tr>
        
        <tr>
          <td width="30">
            &nbsp;
          </td>
          <td align="left" valign="top" width="130">
            <font face="Arial" valign="top" size="-1" color="#000000">
              %LANG_LENGTH%:
            </font>
          </td>
          <td align="left" valign="top">
            <font face="Arial" valign="top" size="-1" color="#000000">
              %LENGTH%
            </font>
          </td>
          <td width="30">
            &nbsp;
          </td>
        </tr>
        
        <tr>
          <td width="30">
            &nbsp;
          </td>
          <td align="left" valign="top" width="130">
            <font face="Arial" valign="top" size="-1" color="#000000">
              %LANG_KEYWORDS%:
            </font>
          </td>
          <td align="left">
            <font face="Arial" valign="top" size="-1" color="#000000">
              %DOC_KEYWORDS%
            </font>
          </td>
          <td width="30">
            &nbsp;
          </td>
        </tr>
        
        <tr>
          <td width="30">
            &nbsp;
          </td>
          <td align="left" valign="top" width="130">
            <font face="Arial" valign="top" size="-1" color="#000000">
              %LANG_PAGECOUNT%:
            </font>
          </td>
          <td align="left" valign="top">
            <font face="Arial" valign="top" size="-1" color="#000000">
              %NUM_SLIDES%
            </font>
          </td>
          <td width="30">
            &nbsp;
          </td>
        </tr>
        
        <tr>
          <td colspan="4">
            <font face="Arial" valign="top" size="+2" color="#000000">
              &nbsp;
            </font>
          </td>
        </tr>
        