body {
  background-color:%BackgroundColor%;
  color:#FFFFFF;
  padding:0px;
  margin:0px;
}

div.backgroundLeftMiddle {
  position:absolute;
  top:11px;
  left:10px;
  background-color:%PlayerBackgroundColor%;
  visibility:hidden;
}

div.backgroundRight {
  position:absolute;
  top:11px;
  left:10px;
  background-color:%PlayerBackgroundColor%;
  visibility:hidden;
}

table.totallayout {
  border:0px;
  margin-left:10;
  margin-top:10;
  margin-right:10;
  margin-bottom:10;
}

tr.totallayout {
  background-color:%PlayerBackgroundColor%;
}

td.header {
  background-color:%PlayerBackgroundColor%;
  text-align:left;
  vertical-align:top;
}

td.headercell
{
  background-color:%PlayerBackgroundColor%;
  color:%TitleTextColor%;
  text-align:left;
  vertical-align:top;
  font-family:Arial, Helvetica, sans-serif;
  background-image:url(images/trans.gif);
  background-repeat:repeat-y;
}

td.slidescell {
  background-color:%PlayerBackgroundColor%;
  text-align:top;
  vertical-align:top;
}

td.slidescellright {
  background-color:%BackgroundColor%;
  text-align:top;
  vertical-align:top;
}

td.video {
  background-color:%VideoBackgroundColor%;
  text-align:center;
  vertical-align:middle;
}

td.player {
  background-color:%BackgroundColor%;
  vertical-align:top;
}

td.buffercell { 
  vertical-align:top;
  color:#FFFFFF;
  font-family:Arial, Helvetica, sans-serif;
  font-size:11px;
  padding-left:15px;
  padding-top:5px;
  background-image:url(images/playerbuffering.jpg);
}

div.bufferLabel { 
  vertical-align:top;
  color:#FFFFFF;
  padding-top:6px;
  font-family:Arial,Helvetica,sans-serif;
  font-size:11px;
}

td.timefield {
  background-image:url(images/player_timefield.png);
  vertical-align:top;
  text-align:left;
  color:#FFFFFF;
  font-family:Arial,Helvetica,sans-serif;
  font-size:15px;
  font-weight:bold;
  width:83px;
  height:26px;
}

div.timefield { 
  padding-left:22px;
  padding-top:5px;
}

td.playButton {
  background-image:url(images/button_play_bg.png);
}

td.forwardButton {
  background-image:url(images/button_ffw_bg.png);
}

td.endButton {
  background-image:url(images/button_ffw_end_bg.png);
}

td.homeButton {
  background-image:url(images/button_bw_start_bg.png);
}
td.backButton {
  background-image:url(images/button_bw_bg.png);
}

.TextField
{
  border: 1px solid #000000;
  background-color:#FFFFFF;
}

div.searchDivOuter, div.searchDivInner {
  background-color: %ThumbsBackgroundColor%;
}

div.searchDivInner div.textdiv {
  color: %ThumbsTextColor%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  vertical-align: middle;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

div.searchDivInner div.searchtextdiv {
  color: %ThumbsTextColor%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  vertical-align: middle;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

div.searchDivInner a {
  text-decoration: none;
  color: %ThumbsTextColor%;
}

div.searchDivInner a:hover {
  color: %ThumbsTextHighlightColor%
}
