        <tr>
          <td width="10">
            &nbsp;
          </td>
          <td colspan="2">
            <font face="Arial" valign="top" size="-1" color="#0F75BC">
              <b>%TITLE%</b>
            </font>
          </td>
          <td width="20">
            &nbsp;
          </td>
        </tr>
        
        <tr>
          <td width="10">
            &nbsp;
          </td>
          <td width="50">
            &nbsp;
          </td>
          <td align="left" valign="top">
            <font face="Arial" valign="top" size="-1" color="#000000">
              %AUTHOR%, %PRODUCER%
            </font>
          </td>
          <td width="20">
            &nbsp;
          </td>
        </tr>
        
        <tr>
          <td width="10">
            &nbsp;
          </td>
          <td width="50">
            &nbsp;
          </td>
          <td align="left" valign="top">
            <font face="Arial" valign="top" size="-1" color="#000000">
              (%LANG_DATE%: %DATE%, %LANG_LENGTH%: %LENGTH%) 
            </font>
          </td>
          <td width="20">
            &nbsp;
          </td>
        </tr>
        
        <tr>
          <td colspan="4">
            <font face="Arial" valign="top" size="+2" color="#000000">
              &nbsp;
            </font>
          </td>
        </tr>
        