body {
  background-color:%BackgroundColor%;
}

div.masterPlayer {
  padding:4px;
  z-index:10;
  width:300px;
  text-align:center;
}

div.infoArea
{
  padding:0px;
  position:absolute;
  left:9px;
  top:105px;
  width:300px;
  height:50;
  z-index:9;
}

div.infoArea td.title
{ 
  padding:0px;
  margin:0px;
  margin-bottom:4px;
  font-family:Arial,Helvetica,sans-serif;
  font-size:11px;
  color:%TextColor%;
  font-weight:bold;
  width:100px;
  overflow:hidden;
}

div.infoArea td.content
{
  padding:0px;
  margin:0px;
  margin-bottom:4px;
  font-family:Arial,Helvetica,sans-serif;
  font-size:11px;
  color:%TextColor%;
  font-weight:normal;
  width:200px;
}

div.logoArea
{ 
  position:absolute;
  top:9px;
  left:9px;
  width:300px;
  height:50px;
  overflow:hidden;
  border-style:none;
}

div.titleArea
{ 
  position:absolute;
  top:9px;
  left:9px;
  width:300;
  height:64px;
  overflow:hidden;
  border-style:none;
  font-family:Arial,Helvetica,sans-serif;
  font-size:11px;
  font-weight:bold;
  text-align:%TitleAlignment%;
}

td.playerArea
{
  text-align:center;
  border-style:solid;
  border-width:1px;
  border-color:%BorderColor%;
  background-color:%InfoTabBgColor%;
  width:314px;
  height:35px;
  z-index:1;
}

div.stillImageArea
{ 
  width:300px;
  height:1px;
  overflow:hidden;
  border-style:none;
  z-index:3;
}

.TextField
{
  border: 1px solid #000000;
  background-color:#FFFFFF;
}

div.containerArea
{
  border-style:solid;
  border-width:1px;
  border-color:%BorderColor%;
  background-color:%InfoTabBgColor%;  
  position:absolute;
  left:9px;
  top:132px;
  width:300px;
  height:300px;
}
