        <tr>
          <td align="left" valign="top">
            <font face="Arial" size="-1" color="#0F75BC">
              %TITLE%
            </font>
          </td>
          <td align="left" valign="top">
            <font face="Arial" size=-1 color="#000000">
              %AUTHOR%
            </font>
          </td>
          <td align="left" valign="top">
            <font face="Arial" size=-1 color="#000000">
              %DATE%
            </font>
          </td>
        </tr>