/* ------------------------------------------------------------------------
 * Variable definitions
 * ------------------------------------------------------------------------ */

var g_scormEnabled = true;

var g_scormLoaded = false;
var g_LMSResumeSupported = false;
var g_successStatus = "failed" ;
var g_completionStatus = "incomplete";

var g_returnPosition = 0;
var g_sessionTime = null;
