<!-- LECTURNITY version 1.6.1 -->

<html>
  <head>
    <title>Clip%CLIP_NUM%</title>
  </head>
   
  <body style="background-color:%BACKGROUND_COLOR%;margin:0px;">

    <embed name="ClipPlayer%CLIP_NUM%" 
           src="%CLIP_NAME%" 
           type="application/x-mplayer2" 
           pluginspage="http://www.microsoft.com/windows/windowsmedia/download/plugin.asp" 
           width="%CLIP_WIDTH%" 
           height="%CLIP_HEIGHT%" 
           ShowControls="0" 
           ShowPositionControls="0" 
           ShowStatusBar="0" 
           ShowCaptioning="0" 
           AutoSize="0" 
           AutoRewind="-1" 
           AutoStart="0" 
           ClickToPlay="0" 
           TransparentAtStart="0"> 
    </embed> 

  </body>

</html>