body {
  background-color:#CED7E7;
}

td.bordertopleft {
  margin:0px;
  padding:0px;
  width:25px;
  height:117px;
  background-color:#000000;
  background-image:url(images/border_top_left.png);
  background-position:left;
  background-repeat:no-repeat;
}

td.bordertoplogo {
  margin:0px;
  padding:0px;
  width:187px;
  height:117px;
  background-color:#000000;
  background-image:url(images/border_top_logo_infineon.png);
  background-position:left;
  background-repeat:no-repeat;
}

td.bordertop {
  margin:0px;
  padding:0px;
  height:117px;
  background-color:#000000;
  background-image:url(images/border_top.png);
  background-position:left;
  background-repeat:repeat-x;
}

td.bordertoptheme {
  margin:0px;
  padding:0px;
  width:603px;
  height:117px;
  background-color:#000000;
  background-image:url(images/border_top_lecture.png);
  background-position:right;
  background-repeat:no-repeat;
}

td.bordertopright {
  margin:0px;
  padding:0px;
  width:25px;
  height:117px;
  background-color:#000000;
  background-image:url(images/border_top_right.png);
  background-position:right;
  background-repeat:no-repeat;
}

td.borderleft {
  margin:0px;
  padding:0px;
  width:25px;
  background-color:#000000;
  background-image:url(images/border_left.png);
  background-position:left;
  background-repeat:repeat-y;
}

td.bordermiddle {
  margin:0px;
  padding:0px;
  background-color:#CED7E7;
}

td.borderright {
  margin:0px;
  padding:0px;
  width:25px;
  background-color:#000000;
  background-image:url(images/border_right.png);
  background-position:right;
  background-repeat:repeat-y;
}

td.borderbottomleft {
  margin:0px;
  padding:0px;
  width:25px;
  height:22px;
  background-color:#000000;
  background-image:url(images/border_bottom_left.png);
  background-position:left;
  background-repeat:no-repeat;
}

td.borderbottom {
  margin:0px;
  padding:0px;
  height:22px;
  background-color:#000000;
  background-image:url(images/border_bottom.png);
  background-position:left;
  background-repeat:repeat-x;
}

td.borderbottomright {
  margin:0px;
  padding:0px;
  width:25px;
  height:22px;
  background-color:#000000;
  background-image:url(images/border_bottom_right.png);
  background-position:right;
  background-repeat:no-repeat;
}

td.title {
  font-family:Arial,Helvetica,sans-serif;
  font-size:14px;
  font-weight:bold;
  color:#0D2059;
  text-align:left;
  vertical-align:top;
  line-height:16px;
  width:300px;
  height:28px;
  overflow:hidden;
}

td.subtitle {
  font-family:Arial,Helvetica,sans-serif;
  font-size:12px;
  font-weight:bold;
  color:#0D2059;
  text-align:left;
  vertical-align:top;
  line-height:14px;
  width:300px;
  height:16px;
  overflow:hidden;
}
