body {
  background-color:%BackgroundColor%;
}

div.masterPlayer {
  position:absolute;
  top:420px;
  left:15px;
  z-index:10;
  width:300px;
  text-align:center;
}

div.overviewTab {
  background-color:%InfoTabBgColor%;
  position:absolute;
  left:9px;
  top:83px;
  width:73px;
  height:16px;
  z-index:7;
}

p.overviewTabText {
  border-style:solid;
  border-width:1px;
  border-color:%BorderColor%;
  border-bottom-style:none;
  margin:0px;
  padding:0px;
  padding-top:3px;
  padding-left:3px;
  text-align:left;
  font-family:Arial,Helvetica,sans-serif;
  font-size:9px;
  overflow:hidden;
}

div.slidesTab { 
  background-color:%InactiveTabColor%;
  position:absolute;
  left:85px;
  top:83px;
  width:73px;
  height:16px;
}

p.slidesTabText {
  border-style:solid;
  border-width:1px;
  border-color:%BorderColor%;
  border-bottom-style:none;
  margin:0px;
  padding:0px;
  padding-top:3px;
  padding-left:3px;
  text-align:left;
  font-family:Arial,Helvetica,sans-serif;
  font-size:9px;
  overflow:hidden;
}

div.searchTab {
  background-color:%InactiveTabColor%;
  position:absolute;
  left:161px;
  top:83px;
  width:73px;
  height:16px;
}

p.searchTabText {
  border-style:solid;
  border-width:1px;
  border-color:%BorderColor%;
  border-bottom-style:none;
  margin:0px;
  padding:0px;
  padding-top:3px;
  padding-left:3px;
  text-align:left;
  font-family:Arial,Helvetica,sans-serif;
  font-size:9px;
  overflow:hidden;
}

div.infoTab {
  background-color:%InactiveTabColor%;
  position:absolute;
  left:237px;
  top:83px;
  width:73px;
  height:16px;
}

p.infoTabText {
  border-style:solid;
  border-width:1px;
  border-color:%BorderColor%;
  border-bottom-style:none;
  margin:0px;
  padding:0px;
  padding-top:3px;
  padding-left:3px;
  text-align:left;
  font-family:Arial,Helvetica,sans-serif;
  font-size:9px;
  overflow:hidden;
}

div.infoArea,div.searchArea
{
  border-style:solid;
  border-width:1px;
  border-color:%BorderColor%;
  background-color:%InfoPanelBgColor%;
  padding:4px;
  position:absolute;
  left:15px;
  top:105px;
  width:300px;
  height:300px;
  overflow:hidden;
  z-index:9;
}

div.infoArea td.title
{ 
  font-family:Arial,Helvetica;
  font-size:11px;
  color:%TextColor%;
  font-weight:bold;
  width:100px;
  vertical-align:top;
  overflow:hidden;
}

div.infoArea td.content
{
  font-family:Arial,Helvetica;
  font-size:11px;
  color:%TextColor%;
  font-weight:normal;
  width:200px;
}

div.containerArea
{
  border-style:solid;
  border-width:1px;
  border-color:%BorderColor%;
  background-color:%InfoTabBgColor%;
  position:absolute;
  left:9px;
  top:98px;
  width:314px;
  height:314px;
  z-index:6;
}

div.logoArea
{ 
  position:absolute;
  top:9px;
  left:9px;
  width:145px;
  height:64px;
  overflow:hidden;
  border-style:none;
}

div.titleArea
{ 
  position:absolute;
  top:9px;
  left:160px;
  width:160px;
  height:64px;
  overflow:hidden;
  border-style:none;
  font-family:Arial,Helvetica,sans-serif;
  font-size:11px;
  font-weight:bold;
  text-align:%TitleAlignment%;
}

div.playerArea
{
  position:absolute;
  top:415px;
  left:9px;
  width:314px;
  height:35px;
  border-style:solid;
  border-width:1px;
  border-color:%BorderColor%;
  background-color:%InfoTabBgColor%;
  z-index:1;
}

div.stillImageArea
{ 
  position:absolute;
  top:120px;
  left:15px;
  width:300px;
  height:100px;
  overflow:hidden;
  border-style:none;
  z-index:3;
}

div.slidesLabelArea
{
  position:absolute;
  top:240px;
  left:15px;
  width:300px;
  height:15px;
  font-family:Arial,Helvetica,sans-serif;
  font-size:11px;
  font-weight:normal;
  color:%TextColor%;
  text-align:center;
  z-index:7;
  visibility:hidden;
}

div.slidesLayoutArea
{
  position:absolute;
  top:240px;
  left:15px;
  z-index:8;
  visibility:hidden;
}

.TextField
{
  border: 1px solid #000000;
  background-color:#FFFFFF;
}
