<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>Document Info</title>

    <style type="text/css">
      td.title
      { 
        font-family:Arial,Helvetica;
        font-size:11px;
        color:#0D2059;
        font-weight:bold;
        width:100px;
        vertical-align:top;
        overflow:hidden;
      }
      
      td.content
      {
        font-family:Arial,Helvetica;
        font-size:11px;
        color:#0D2059;
        font-weight:normal;
        width:200px;
      }
    </style>

  </head>

  <body style="background-color:#CED7E7">
    <table border ="0" cellpadding="1" cellspacing="0" style="margin:10px;">
      <tr>
        <td class="title">%AuthorLC%</td><td class="content">%Author%</td>
      </tr>
      <tr>
        <td class="title">%RecordDateLC%</td><td class="content">%RecordDate%</td>
      </tr>
      <tr>
        <td class="title">%CreatorLC%</td><td class="content">%Creator%</td>
      </tr>
      <tr>
        <td class="title">%KeywordsLC%</td><td class="content">%MetadataKeywords2%</td>
      </tr>
    </table>
  </body>
</html>
