body {
  background-color:#CED7E7;
}

td.bordertopleft {
  margin:0px;
  padding:0px;
  width:25px;
  height:117px;
  background-color:#000000;
  background-image:url(images/border_top_left.png);
  background-position:left;
  background-repeat:no-repeat;
}

td.bordertoplogo {
  margin:0px;
  padding:0px;
  width:187px;
  height:117px;
  background-color:#000000;
  background-image:url(images/border_top_logo_infineon.png);
  background-position:left;
  background-repeat:no-repeat;
}

td.bordertop {
  margin:0px;
  padding:0px;
  height:117px;
  background-color:#000000;
  background-image:url(images/border_top.png);
  background-position:left;
  background-repeat:repeat-x;
}

td.bordertoptheme {
  margin:0px;
  padding:0px;
  width:603px;
  height:117px;
  background-color:#000000;
  background-image:url(images/border_top_lecture.png);
  background-position:right;
  background-repeat:no-repeat;
}

td.bordertopright {
  margin:0px;
  padding:0px;
  width:25px;
  height:117px;
  background-color:#000000;
  background-image:url(images/border_top_right.png);
  background-position:right;
  background-repeat:no-repeat;
}

td.borderleft {
  margin:0px;
  padding:0px;
  width:25px;
  background-color:#000000;
  background-image:url(images/border_left.png);
  background-position:left;
  background-repeat:repeat-y;
}

td.bordermiddle {
  margin:0px;
  padding:0px;
  background-color:#CED7E7;
}

td.borderright {
  margin:0px;
  padding:0px;
  width:25px;
  background-color:#000000;
  background-image:url(images/border_right.png);
  background-position:right;
  background-repeat:repeat-y;
}

td.borderbottomleft {
  margin:0px;
  padding:0px;
  width:25px;
  height:22px;
  background-color:#000000;
  background-image:url(images/border_bottom_left.png);
  background-position:left;
  background-repeat:no-repeat;
}

td.borderbottom {
  margin:0px;
  padding:0px;
  height:22px;
  background-color:#000000;
  background-image:url(images/border_bottom.png);
  background-position:left;
  background-repeat:repeat-x;
}

td.borderbottomright {
  margin:0px;
  padding:0px;
  width:25px;
  height:22px;
  background-color:#000000;
  background-image:url(images/border_bottom_right.png);
  background-position:right;
  background-repeat:no-repeat;
}

div.titleArea td.title {
  font-family:Arial,Helvetica,sans-serif;
  font-size:14px;
  font-weight:bold;
  color:#0D2059;
  text-align:left;
  vertical-align:top;
  line-height:16px;
  width:%PlayerWidth%px;
  height:28px;
  overflow:hidden;
}

div.titleArea td.subtitle {
  font-family:Arial,Helvetica,sans-serif;
  font-size:12px;
  font-weight:bold;
  color:#0D2059;
  text-align:left;
  vertical-align:top;
  line-height:14px;
  width:%PlayerWidth%px;
  height:16px;
  overflow:hidden;
}

div.overviewTab {
  background-color:#CED7E7;
  position:absolute;
  left:21px;
  top:216px;
  width:83px;
  height:20px;
  z-index:7;
}

p.overviewTabText {
  border-style:solid;
  border-width:1px;
  border-color:#FFFFFF;
  border-bottom-style:none;
  margin:0px;
  padding:0px;
  padding-top:3px;
  padding-bottom:3px;
  padding-left:3px;
  text-align:left;
  font-family:Arial,Helvetica,sans-serif;
  font-size:12px;
  overflow:hidden;
}

div.infoTab {
  background-color:#CED7E7;
  position:absolute;
  left:104px;
  top:216px;
  width:83px;
  height:20px;
}

p.infoTabText {
  border-style:solid;
  border-width:1px;
  border-color:#FFFFFF;
  border-bottom-style:none;
  margin:0px;
  padding:0px;
  padding-top:3px;
  padding-bottom:3px;
  padding-left:3px;
  text-align:left;
  font-family:Arial,Helvetica,sans-serif;
  font-size:12px;
  overflow:hidden;
}

div.infoArea
{
  border-style:solid;
  border-width:1px;
  border-color:#FFFFFF;
  background-color:#CED7E7;
  padding:4px;
  position:absolute;
  left:31px;
  top:156px;
  width:%PlayerWidth%px;
  height:200px;
  overflow:hidden;
  z-index:9;
}

div.containerArea
{
  border-style:solid;
  border-width:1px;
  border-color:#FFFFFF;
  background-color:#FFFFFF;
  position:absolute;
  left:21px;
  top:235px;
  width:186px;
  height:214px;
  z-index:6;
}

div.playerArea
{
  border-style:solid;
  border-width:4px;
  border-color:#FFFFFF;
  background-color:#CED7E7;
  position:absolute;
  top:415px;
  left:21px;
  width:186px;
  height:35px;
  z-index:1;
}
