<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>%Author%: %Title% - LECTURNITY WebPlayer %Version%</title>
    <meta name="author" content="%Author%">
    <meta name="keywords" content="%MetadataKeywords%">

    <script type="text/javascript">
      <!--
      function frameset_init()
      {
        control.controlbar_init();
        main.main_init();
      }
      // -->
    </script>
  </head>

  <frameset rows="*, 35" frameborder="0" framespacing="0" border="0" onLoad="frameset_init();">
    <frame src="__main.html" name="main" frameborder="0" marginheight="0" marginwidth="0">
    <frame src="__controlbar.html" name="control" noresize="true" scrolling="no" frameborder="0" marginheight="0" marginwidth="0">
  </frameset>
</html>
