<templateConfig name="LECTURNITY WebPlayer6" 
                title_de="\"Infineon Lecture\"-Design mit Folienübersicht unten"
                title_en="\"Infineon Lecture\" design with slide overview at the bottom"
                description_de="Infineon-Vorlage \"Lecture\" mit Folienübersicht unten."
                description_en="Infineon template \"Lecture\" with slide overview at the bottom."
                author="imc AG" 
                copyright="(c) 2005 imc AG, Office Freiburg" 
                screenshot="screenshot.jpg">

   <configurations>
      <config name="normalDocument">true</config>
      <config name="standaloneDocument">true</config>
   </configurations>

   <id>{D6FFD2C5-3A27-436c-9A55-2109EB1BBA8A}</id>
   <isScormCompliant>true</isScormCompliant>
   <isUtfTemplate>true</isUtfTemplate>

   <configurableKeywords>
   </configurableKeywords>

   <normalDocument>
      <slidesSize>
         <width>960 - 25 - 20 - 25 - max(300, max(%VideoWidth%, %StillImageWidth%))</width>
         <height>350</height>
      </slidesSize>

      <staticFiles>
         <file>config.xml</file>
         <file>js/APIWrapper.js</file>
         <file>js/browserlib.js</file>
         <file>js/button.js</file>
         <file>js/evhandler.js</file>
         <file>js/lslider.js</file>
         <file>js/scorm.js</file>
         <file>js/slides.js</file>
         <file>js/utils.js</file>
         <file>images/border_bottom.png</file>
         <file>images/border_bottom_left.png</file>
         <file>images/border_bottom_right.png</file>
         <file>images/border_left.png</file>
         <file>images/border_right.png</file>
         <file>images/border_top.png</file>
         <file>images/border_top_left.png</file>
         <file>images/border_top_lecture.png</file>
         <file>images/border_top_logo_infineon.png</file>
         <file>images/border_top_right.png</file>
         <file>images/bubble.gif</file>
         <file>images/button_back.png</file>
         <file>images/button_back_f2.png</file>
         <file>images/button_back_f3.png</file>
         <file>images/button_back_f4.png</file>
         <file>images/button_end.png</file>
         <file>images/button_end_f2.png</file>
         <file>images/button_end_f3.png</file>
         <file>images/button_end_f4.png</file>
         <file>images/button_forward.png</file>
         <file>images/button_forward_f2.png</file>
         <file>images/button_forward_f3.png</file>
         <file>images/button_forward_f4.png</file>
         <file>images/button_home.png</file>
         <file>images/button_home_f2.png</file>
         <file>images/button_home_f3.png</file>
         <file>images/button_home_f4.png</file>
         <file>images/button_mute.png</file>
         <file>images/button_mute_f2.png</file>
         <file>images/button_mute_f3.png</file>
         <file>images/button_mute_f4.png</file>
         <file>images/button_pause.png</file>
         <file>images/button_pause_f2.png</file>
         <file>images/button_pause_f3.png</file>
         <file>images/button_pause_f4.png</file>
         <file>images/button_play.png</file>
         <file>images/button_play_f2.png</file>
         <file>images/button_play_f3.png</file>
         <file>images/button_play_f4.png</file>
         <file>images/controlbar_bg.png</file>
         <file>images/controlbar_left.png</file>
         <file>images/controlbar_right.png</file>
         <file>images/ie_xpsp2_internet_options.png</file>
         <file>images/initialize_de.png</file>
         <file>images/initialize_en.png</file>
         <file>images/telepointer24.gif</file>
         <file>images/timeslider_bg.png</file>
         <file>images/timeslider_knob.png</file>
         <file>images/trans.gif</file>
         <file>images/volumeslider_bg.png</file>
      </staticFiles>

      <templateFiles>
         <file prefix="%BaseDocumentName%" writeToRoot="true" isIndex="true">normal/index.html.tmpl</file>
         <file>__controlbar.html.tmpl</file>
         <file writeToRoot="true">normal/__frames.html.tmpl</file>
         <file writeToRoot="true">normal/__main.html.tmpl</file>
         <file writeToRoot="true">normal/__slides.html.tmpl</file>
         <file writeToRoot="true">normal/slides.css.tmpl</file>
         <file writeToRoot="true">normal/style.css.tmpl</file>
         <file>js/controlbar.js.tmpl</file>
         <file>js/layout.js.tmpl</file>
         <file>js/layoutapi.js.tmpl</file>
         <file>js/variables.js.tmpl</file>
      </templateFiles>

      <realMedia>
         <replaceKeywords>
            <keyword name="%ControlJavaScript%">control_rm.js</keyword>
         </replaceKeywords>

         <staticFiles>
            <file>js/control_rm.js</file>
         </staticFiles>
      </realMedia>

      <windowsMedia>
         <replaceKeywords>
            <keyword name="%ControlJavaScript%">control_wm.js</keyword>
         </replaceKeywords>

         <staticFiles>
            <file>js/control_wm.js</file>
         </staticFiles>
      </windowsMedia>
   </normalDocument>

   <standaloneDocument>
      <staticFiles>
         <file>config.xml</file>
         <file>js/APIWrapper.js</file>
         <file>js/browserlib.js</file>
         <file>js/button.js</file>
         <file>js/evhandler.js</file>
         <file>js/lslider.js</file>
         <file>js/scorm.js</file>
         <file>js/slides.js</file>
         <file>js/utils.js</file>
         <file>images/border_bottom.png</file>
         <file>images/border_bottom_left.png</file>
         <file>images/border_bottom_right.png</file>
         <file>images/border_left.png</file>
         <file>images/border_right.png</file>
         <file>images/border_top.png</file>
         <file>images/border_top_left.png</file>
         <file>images/border_top_lecture.png</file>
         <file>images/border_top_logo_infineon.png</file>
         <file>images/border_top_right.png</file>
         <file>images/button_back.png</file>
         <file>images/button_back_f2.png</file>
         <file>images/button_back_f3.png</file>
         <file>images/button_back_f4.png</file>
         <file>images/button_end.png</file>
         <file>images/button_end_f2.png</file>
         <file>images/button_end_f3.png</file>
         <file>images/button_end_f4.png</file>
         <file>images/button_forward.png</file>
         <file>images/button_forward_f2.png</file>
         <file>images/button_forward_f3.png</file>
         <file>images/button_forward_f4.png</file>
         <file>images/button_home.png</file>
         <file>images/button_home_f2.png</file>
         <file>images/button_home_f3.png</file>
         <file>images/button_home_f4.png</file>
         <file>images/button_mute.png</file>
         <file>images/button_mute_f2.png</file>
         <file>images/button_mute_f3.png</file>
         <file>images/button_mute_f4.png</file>
         <file>images/button_pause.png</file>
         <file>images/button_pause_f2.png</file>
         <file>images/button_pause_f3.png</file>
         <file>images/button_pause_f4.png</file>
         <file>images/button_play.png</file>
         <file>images/button_play_f2.png</file>
         <file>images/button_play_f3.png</file>
         <file>images/button_play_f4.png</file>
         <file>images/controlbar_bg.png</file>
         <file>images/controlbar_left.png</file>
         <file>images/controlbar_right.png</file>
         <file>images/ie_xpsp2_internet_options.png</file>
         <file>images/initialize_de.png</file>
         <file>images/initialize_en.png</file>
         <file>images/timeslider_bg.png</file>
         <file>images/timeslider_knob.png</file>
         <file>images/trans.gif</file>
         <file>images/volumeslider_bg.png</file>
      </staticFiles>

      <templateFiles>
         <file prefix="%BaseDocumentName%" writeToRoot="true" isIndex="true">standalone/index.html.tmpl</file>
         <file>__controlbar.html.tmpl</file>
         <file writeToRoot="true">standalone/__frames.html.tmpl</file>
         <file writeToRoot="true">standalone/__main.html.tmpl</file>
         <file writeToRoot="true">standalone/style.css.tmpl</file>
         <file>js/controlbar.js.tmpl</file>
         <file>js/layoutstandalone.js.tmpl</file>
         <file>js/layoutapi.js.tmpl</file>
         <file>js/variables.js.tmpl</file>
      </templateFiles>

      <realMedia>
         <replaceKeywords>
            <keyword name="%ControlJavaScript%">control_rm.js</keyword>
         </replaceKeywords>

         <staticFiles>
            <file>js/control_rm.js</file>
         </staticFiles>
      </realMedia>

      <windowsMedia>
         <replaceKeywords>
            <keyword name="%ControlJavaScript%">control_wm.js</keyword>
         </replaceKeywords>

         <staticFiles>
            <file>js/control_wm.js</file>
         </staticFiles>
      </windowsMedia>
   </standaloneDocument>

</templateConfig>
