<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>LECTURNITY WebPlayer - Master Player for Windows Media</title>
    <script src="js/utils.js" type="text/javascript"></script>
  </head>

  <body>
    %MasterPlayerWm%
  </body>
</html>
