<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  </head>

  <body>
    <center>	

      <table width="100%" border="1" cellpadding="2" cellspacing="0">

        <tr>
          <td valign="top" align="left" width="20%" bgcolor="#D4D0C8">
            <font face="Arial" size="-1">
              %LANG_TITLE%
            </font>
          </td>
          <td valign="top" align="left" width="20%" bgcolor="#D4D0C8">
            <font face="Arial" size="-1">
              %LANG_AUTHOR%
            </font>
          </td>
          <td valign="top" align="left" width="15%" bgcolor="#D4D0C8">
            <font face="Arial" size="-1">
              %LANG_DATE_S%
            </font>
          </td>
          <td valign="top" align="left" width="10%" bgcolor="#D4D0C8">
            <font face="Arial" size="-1">
              %LANG_LENGTH_S%
            </font>
          </td>
          <td valign="top" align="left" bgcolor="#D4D0C8">
            <font face="Arial" size="-1">
              %LANG_KEYWORDS%
            </font>
          </td>
          <td valign="top" align="left" width="10%" bgcolor="#D4D0C8">
            <font face="Arial" size="-1">
              %LANG_PAGECOUNT_S%
            </font>
          </td>
        </tr>

        %DOCS%

      </table>

    </center>
  </body>
</html>
